USE [master]
GO
/****** Object:  Database [LabComp]    Script Date: 30/11/2017 12:00:25 p. m. ******/
CREATE DATABASE [LabComp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LabComp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\LabComp.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LabComp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\LabComp_log.ldf' , SIZE = 3456KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LabComp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LabComp]
GO
/****** Object:  Table [dbo].[CARRERAS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CARRERAS](
	[ID_CARRERA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [char](100) NULL,
	[ABREVIATURA] [char](10) NULL,
	[ACTIVO] [bit] NULL CONSTRAINT [DF_CARRERAS_ACTIVO]  DEFAULT ((0)),
	[ID_USUARIOSISTEMA] [int] NULL,
	[FECHA_CAPTURA] [datetime] NULL CONSTRAINT [DF_CARRERAS_FECHA_CAPTURA]  DEFAULT (getdate()),
 CONSTRAINT [PK_CARRERAS] PRIMARY KEY CLUSTERED 
(
	[ID_CARRERA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEPARTAMENTOS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTAMENTOS](
	[ID_DEPARTAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [char](20) NULL,
	[ACTIVO] [bit] NULL CONSTRAINT [DF_DEPARTAMENTOS_ACTIVO]  DEFAULT ((0)),
	[ID_USUARIOSISTEMA] [int] NULL,
	[FECHA_CAPTURA] [datetime] NULL CONSTRAINT [DF_DEPARTAMENTOS_FECHA_CAPTURA]  DEFAULT (getdate()),
 CONSTRAINT [PK_DEPARTAMENTOS] PRIMARY KEY CLUSTERED 
(
	[ID_DEPARTAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEPENDENCIAS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPENDENCIAS](
	[ID_DEPENDENCIA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [char](100) NULL,
	[ACTIVO] [bit] NULL CONSTRAINT [DF_DEPENDENCIAS_ACTIVO]  DEFAULT ((0)),
	[ID_USUARIOSISTEMA] [int] NULL,
	[FECHA_CAPTURA] [datetime] NULL CONSTRAINT [DF_DEPENDENCIAS_FECHA_CAPTURA]  DEFAULT (getdate()),
 CONSTRAINT [PK_DEPENDENCIAS] PRIMARY KEY CLUSTERED 
(
	[ID_DEPENDENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESTUDIANTE]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTUDIANTE](
	[ID_ESTUDIANTE] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[NUM_CUENTA] [varchar](20) NOT NULL CONSTRAINT [DF_ESTUDIANTE_NUM_CUENTA]  DEFAULT (''),
	[ID_CARRERA] [int] NOT NULL,
 CONSTRAINT [PK_ESTUDIANTE] PRIMARY KEY CLUSTERED 
(
	[ID_ESTUDIANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EXTERNO]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EXTERNO](
	[ID_EXTERNO] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[NUM_CREDENCIAL] [varchar](20) NULL,
	[ID_USUARIOTIPO] [int] NOT NULL,
	[ID_DEPENDENCIA] [int] NOT NULL,
 CONSTRAINT [PK_EXTERNO] PRIMARY KEY CLUSTERED 
(
	[ID_EXTERNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMPRESIONES]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPRESIONES](
	[ID_IMPRESION] [int] IDENTITY(1,1) NOT NULL,
	[ID_TRANS] [int] NOT NULL,
	[CANT_IMP] [int] NOT NULL,
	[ID_SERVICIO] [int] NULL,
 CONSTRAINT [PK_IMPRESIONES] PRIMARY KEY CLUSTERED 
(
	[ID_IMPRESION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INTERNO]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INTERNO](
	[ID_INTERNO] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[NUM_TRABAJADOR] [varchar](20) NOT NULL,
	[RFC] [char](10) NOT NULL,
	[ID_USUARIOTIPO] [int] NOT NULL,
	[ID_DEPARTAMENTO] [int] NOT NULL,
 CONSTRAINT [PK_INTERNO] PRIMARY KEY CLUSTERED 
(
	[ID_INTERNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LABORATORIOS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LABORATORIOS](
	[ID_LABORATORIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[ABREVIATURA] [varchar](10) NULL,
	[ACTIVO] [bit] NULL CONSTRAINT [DF_LABORATORIOS_ACTIVO]  DEFAULT ((0)),
	[ID_USUARIOSISTEMA] [int] NULL,
	[FECHA_CAPTURA] [datetime] NULL CONSTRAINT [DF_LABORATORIOS_FECHA_CAPTURA]  DEFAULT (getdate()),
 CONSTRAINT [PK_LABORATORIOS] PRIMARY KEY CLUSTERED 
(
	[ID_LABORATORIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAQUINAS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAQUINAS](
	[ID_MAQUINA] [int] IDENTITY(1,1) NOT NULL,
	[NUMERO_MAQ] [int] NOT NULL,
	[ID_LABORATORIO] [int] NOT NULL,
	[INFORMACION_MAQ] [varchar](100) NOT NULL,
	[BANDERA_MAQ] [int] NOT NULL CONSTRAINT [DF_MAQUINAS_BANDERA_MAQ]  DEFAULT ((0)),
	[IP_MAQ] [varchar](15) NULL CONSTRAINT [DF_MAQUINAS_IP_MAQ]  DEFAULT ('0.0.0.0'),
	[MOSTRAR_MAQ] [bit] NULL CONSTRAINT [DF_MAQUINAS_MOSTRAR_MAQ]  DEFAULT ((1)),
	[ID_USUARIOSISTEMA] [int] NULL,
	[FECHA_CAPTURA] [datetime] NULL CONSTRAINT [DF_MAQUINAS_FECHA_CAPTURA]  DEFAULT (getdate()),
 CONSTRAINT [PK_MAQUINAS] PRIMARY KEY CLUSTERED 
(
	[ID_MAQUINA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RECIBOS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECIBOS](
	[ID_RECIBO] [int] IDENTITY(1,1) NOT NULL,
	[SERIE_RECIBO] [char](1) NOT NULL,
	[NUMERO_RECIBO] [int] NOT NULL,
	[FECHA_RECIBO] [datetime] NOT NULL,
	[IMPORTE_RECIBO] [money] NOT NULL,
	[CANTIDAD_RECIBO] [int] NOT NULL,
	[SALDO_RECIBO] [int] NOT NULL,
	[SERVICIO] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[FECHA_CAPTURA_RECIBO] [datetime] NULL,
	[TOTAL_RECIBO] [money] NULL,
	[REALIZADAS] [int] NULL,
	[ID_LABORATORIO] [int] NULL,
 CONSTRAINT [PK_RECIBOS] PRIMARY KEY CLUSTERED 
(
	[ID_RECIBO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REPORTE]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REPORTE](
	[NOMBRE] [char](40) NULL,
	[CLAVE] [varchar](20) NULL,
	[ABREV] [char](20) NULL,
	[FECHA] [char](10) NULL,
	[FOLIO] [char](60) NULL,
	[IMPORTE_RECIBO] [money] NULL,
	[SALDO] [money] NULL,
	[ESTATUS] [char](20) NULL,
	[MES_NOMBRE] [char](30) NULL,
	[SERVICIO] [char](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SERVICIOS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SERVICIOS](
	[ID_SERVICIO] [int] IDENTITY(1,1) NOT NULL,
	[CONCEPTO_SERVICIO] [char](20) NULL,
	[COSTO_SERV] [money] NOT NULL,
	[ACTIVO] [bit] NULL,
	[ID_USUARIOSISTEMA] [int] NULL,
	[FECHA_CAPTURA] [datetime] NULL,
 CONSTRAINT [PK_SERVICIOS] PRIMARY KEY CLUSTERED 
(
	[ID_SERVICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANS_RECIBO]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANS_RECIBO](
	[ID_TRANRECIBO] [int] IDENTITY(1,1) NOT NULL,
	[ID_TRANS] [int] NULL,
	[ID_RECIBO] [int] NULL,
	[CANTIDAD] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANSACCIONES]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACCIONES](
	[ID_TRANS] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[FECHA_TRANS] [datetime] NOT NULL,
	[TIPO_SERVICIO] [int] NOT NULL,
	[ID_MAQUINA] [int] NULL,
 CONSTRAINT [PK_TRANSACCIONES] PRIMARY KEY CLUSTERED 
(
	[ID_TRANS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIOCLASES]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIOCLASES](
	[ID_USUARIOCLASE] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [char](20) NULL,
 CONSTRAINT [PK_USUARIOCLASES] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIOCLASE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_USUARIO] [varchar](100) NOT NULL,
	[FECHA_REG_USUARIO] [datetime] NOT NULL CONSTRAINT [DF_USUARIOS_FECHA_REG_USUARIO]  DEFAULT (getdate()),
	[ID_DEPENDENCIA] [int] NOT NULL CONSTRAINT [DF_USUARIOS_ID_DEPENDENCIA]  DEFAULT ((1)),
	[ID_USUARIOCLASE] [int] NOT NULL CONSTRAINT [df_clase_usuario]  DEFAULT ((1)),
	[ACTIVO] [bit] NULL CONSTRAINT [DF_USUARIOS_ACTIVO]  DEFAULT ((1)),
	[NUM_CREDENCIAL] [varchar](20) NULL,
	[ID_CARRERA] [int] NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIOSSISTEMA]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIOSSISTEMA](
	[ID_USUARIOSISTEMA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_COMPLETO] [varchar](100) NULL,
	[PUESTO] [varchar](30) NULL,
	[ACTIVO] [bit] NULL CONSTRAINT [DF_USUARIOSSISTEMA_ACTIVO]  DEFAULT ((0)),
	[ID_LABORATORIO] [int] NULL,
	[USERNAME] [varchar](15) NULL,
	[ID_USUARIOCAPTURA] [int] NULL,
	[FECHA_CAPTURA] [datetime] NULL CONSTRAINT [DF_USUARIOSSISTEMA_FECHA_CAPTURA]  DEFAULT (getdate()),
 CONSTRAINT [PK_USUARIOSSISTEMA] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIOSISTEMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIOTIPOS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIOTIPOS](
	[ID_USUARIOTIPO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [char](20) NULL,
	[ACTIVO] [bit] NULL CONSTRAINT [DF_USUARIOTIPOS_ACTIVO]  DEFAULT ((0)),
	[ID_USUARIOSISTEMA] [int] NULL,
	[FECHA_CAPTURA] [datetime] NULL CONSTRAINT [DF_USUARIOTIPOS_FECHA_CAPTURA]  DEFAULT (getdate()),
 CONSTRAINT [PK_USUARIOTIPOS] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIOTIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UTILIZA]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILIZA](
	[ID_UTILIZA] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_MAQUINA] [int] NULL,
	[ID_TRANS] [int] NULL,
	[HORA_ENTRADA] [datetime] NULL,
 CONSTRAINT [PK_UTILIZA] PRIMARY KEY CLUSTERED 
(
	[ID_UTILIZA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[VW_USUARIOS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[VW_USUARIOS] 
AS
SELECT U.ID_USUARIO, U.NOMBRE_USUARIO, FECHA = CONVERT(char(10),U.FECHA_REG_USUARIO,103), CLASE = UPPER(UC.DESCRIPCION) ,DEPENDENCIA = UPPER(D.DESCRIPCION), CLAVE = E.NUM_CUENTA, CARRERA_DEPTO = UPPER(C.DESCRIPCION), ABREV = UPPER(C.ABREVIATURA), ESTATUS = CASE U.ACTIVO WHEN 0 THEN 'INACTIVO' ELSE 'ACTIVO' END
FROM USUARIOS U, ESTUDIANTE E, DEPENDENCIAS D, USUARIOCLASES UC, CARRERAS C
WHERE U.ID_USUARIO = E.ID_USUARIO
AND   U.ID_DEPENDENCIA = D.ID_DEPENDENCIA
AND   UC.ID_USUARIOCLASE = U.ID_USUARIOCLASE
AND   C.ID_CARRERA = E.ID_CARRERA

UNION
SELECT U.ID_USUARIO, U.NOMBRE_USUARIO, FECHA = CONVERT(char(10),U.FECHA_REG_USUARIO,103), CLASE = UPPER(UC.DESCRIPCION) ,DEPENDENCIA = UPPER(D.DESCRIPCION), CLAVE = I.NUM_TRABAJADOR, CARRERA_DEPTO = UPPER(DEPTO.DESCRIPCION), ABREV = DEPTO.DESCRIPCION, ESTATUS = CASE U.ACTIVO WHEN 0 THEN 'INACTIVO' ELSE 'ACTIVO' END
FROM USUARIOS U, INTERNO I, DEPENDENCIAS D, USUARIOCLASES UC, DEPARTAMENTOS DEPTO
WHERE U.ID_USUARIO = I.ID_USUARIO
AND   U.ID_DEPENDENCIA = D.ID_DEPENDENCIA
AND   UC.ID_USUARIOCLASE = U.ID_USUARIOCLASE
AND   DEPTO.ID_DEPARTAMENTO = I.ID_DEPARTAMENTO

UNION
SELECT U.ID_USUARIO, U.NOMBRE_USUARIO, FECHA = CONVERT(char(10),U.FECHA_REG_USUARIO,103), CLASE = UPPER(UC.DESCRIPCION) ,DEPENDENCIA = UPPER(D.DESCRIPCION), CLAVE = E.NUM_CREDENCIAL, CARRERA_DEPTO = 'EXTERNO', ABREV = 'EXTERNO', ESTATUS = CASE U.ACTIVO WHEN 0 THEN 'INACTIVO' ELSE 'ACTIVO' END
FROM USUARIOS U, EXTERNO E, DEPENDENCIAS D, USUARIOCLASES UC, DEPARTAMENTOS DEPTO
WHERE U.ID_USUARIO = E.ID_USUARIO
AND   U.ID_DEPENDENCIA = D.ID_DEPENDENCIA
AND   UC.ID_USUARIOCLASE = U.ID_USUARIOCLASE

GO
/****** Object:  View [dbo].[vw_RECIBOS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RECIBOS]
AS
SELECT  NOMBRE = U.NOMBRE_USUARIO,
                U.CLAVE,
                FECHA = CONVERT(char(10),R.FECHA_RECIBO,103), 
                SERVICIO  = UPPER(S.CONCEPTO_SERVICIO), 
                SERIE = R.SERIE_RECIBO,
                NUMERO = R.NUMERO_RECIBO,
                IMPORTE = RTRIM(LTRIM(CONVERT(char(10),R.IMPORTE_RECIBO,0))),
                CANTIDAD = R.CANTIDAD_RECIBO,
                SALDO = R.SALDO_RECIBO
FROM         dbo.RECIBOS R INNER JOIN SERVICIOS S ON R.SERVICIO = S.ID_SERVICIO
                                               INNER JOIN VW_USUARIOS U ON R.ID_USUARIO = U.ID_USUARIO

GO
/****** Object:  View [dbo].[vw_CARRERAS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CARRERAS]
AS
SELECT ID_CARRERA,NOMBRE=DESCRIPCION,ABREVIATURA, ESTATUS = CASE ACTIVO WHEN 1 THEN 'ACTIVO' ELSE 'INACTIVO' END
FROM CARRERAS

GO
/****** Object:  View [dbo].[vw_DEPARTAMENTOS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DEPARTAMENTOS]
AS

SELECT ID_DEPARTAMENTO,NOMBRE=DESCRIPCION, ESTATUS = CASE ACTIVO WHEN 1 THEN 'ACTIVO' ELSE 'INACTIVO' END
FROM DEPARTAMENTOS

GO
/****** Object:  View [dbo].[vw_DEPENDENCIAS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DEPENDENCIAS]
AS
SELECT ID_DEPENDENCIA,NOMBRE=DESCRIPCION, ESTATUS = CASE ACTIVO WHEN 1 THEN 'ACTIVO' ELSE 'INACTIVO' END
FROM DEPENDENCIAS

GO
/****** Object:  View [dbo].[vw_LABORATORIOS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_LABORATORIOS]
AS

SELECT ID_LABORATORIO,NOMBRE,ABREVIATURA, ESTATUS = CASE ACTIVO WHEN 1 THEN 'ACTIVO' ELSE 'INACTIVO' END
FROM LABORATORIOS

GO
/****** Object:  View [dbo].[vw_SERVICIOS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SERVICIOS] AS
SELECT ID_SERVICIO,NOMBRE = CONCEPTO_SERVICIO,COSTO = CONVERT(char(10),COSTO_SERV,0), ESTATUS = CASE ACTIVO WHEN 1 THEN 'ACTIVO' ELSE 'INACTIVO' END
FROM SERVICIOS

GO
/****** Object:  View [dbo].[vw_USUARIOSSISTEMA]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vw_USUARIOSSISTEMA] 
AS
   SELECT U.ID_USUARIOSISTEMA,NOMBRE = NOMBRE_COMPLETO, PUESTO, ABREVIATURA,USUARIO = USERNAME,ESTATUS = CASE U.Activo WHEN 0 THEN 'INACTIVO' ELSE 'ACTIVO' END,FECHA_ALTA = CONVERT(char(10),U.FECHA_CAPTURA,103)
   FROM USUARIOSSISTEMA U LEFT JOIN LABORATORIOS L ON U.ID_LABORATORIO = L.ID_LABORATORIO

GO
/****** Object:  View [dbo].[vw_USUARIOTIPOS]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_USUARIOTIPOS]
AS

SELECT ID_USUARIOTIPO,NOMBRE=DESCRIPCION, ESTATUS = CASE ACTIVO WHEN 1 THEN 'ACTIVO' ELSE 'INACTIVO' END
FROM USUARIOTIPOS

GO
ALTER TABLE [dbo].[RECIBOS] ADD  CONSTRAINT [DF_RECIBOS_FECHA_CAPTURA_RECIBO]  DEFAULT (getdate()) FOR [FECHA_CAPTURA_RECIBO]
GO
ALTER TABLE [dbo].[RECIBOS] ADD  CONSTRAINT [DF_RECIBOS_REALIZADAS]  DEFAULT ((0)) FOR [REALIZADAS]
GO
ALTER TABLE [dbo].[SERVICIOS] ADD  CONSTRAINT [DF_SERVICIOS_ACTIVO]  DEFAULT ((0)) FOR [ACTIVO]
GO
ALTER TABLE [dbo].[SERVICIOS] ADD  CONSTRAINT [DF_SERVICIOS_FECHA_CAPTURA]  DEFAULT (getdate()) FOR [FECHA_CAPTURA]
GO
ALTER TABLE [dbo].[TRANSACCIONES] ADD  CONSTRAINT [DF_TRANSACCIONES_FECHA_TRANS]  DEFAULT (getdate()) FOR [FECHA_TRANS]
GO
ALTER TABLE [dbo].[CARRERAS]  WITH NOCHECK ADD  CONSTRAINT [FK_CARRERAS_USUARIOSSISTEMA] FOREIGN KEY([ID_USUARIOSISTEMA])
REFERENCES [dbo].[USUARIOSSISTEMA] ([ID_USUARIOSISTEMA])
GO
ALTER TABLE [dbo].[CARRERAS] CHECK CONSTRAINT [FK_CARRERAS_USUARIOSSISTEMA]
GO
ALTER TABLE [dbo].[DEPENDENCIAS]  WITH NOCHECK ADD  CONSTRAINT [FK_DEPENDENCIAS_USUARIOSSISTEMA] FOREIGN KEY([ID_USUARIOSISTEMA])
REFERENCES [dbo].[USUARIOSSISTEMA] ([ID_USUARIOSISTEMA])
GO
ALTER TABLE [dbo].[DEPENDENCIAS] CHECK CONSTRAINT [FK_DEPENDENCIAS_USUARIOSSISTEMA]
GO
ALTER TABLE [dbo].[ESTUDIANTE]  WITH NOCHECK ADD  CONSTRAINT [FK_ESTUDIANTE_CARRERAS] FOREIGN KEY([ID_CARRERA])
REFERENCES [dbo].[CARRERAS] ([ID_CARRERA])
GO
ALTER TABLE [dbo].[ESTUDIANTE] CHECK CONSTRAINT [FK_ESTUDIANTE_CARRERAS]
GO
ALTER TABLE [dbo].[ESTUDIANTE]  WITH NOCHECK ADD  CONSTRAINT [FK_ESTUDIANTE_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[ESTUDIANTE] CHECK CONSTRAINT [FK_ESTUDIANTE_USUARIOS]
GO
ALTER TABLE [dbo].[EXTERNO]  WITH NOCHECK ADD  CONSTRAINT [FK_EXTERNO_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[EXTERNO] CHECK CONSTRAINT [FK_EXTERNO_USUARIOS]
GO
ALTER TABLE [dbo].[EXTERNO]  WITH NOCHECK ADD  CONSTRAINT [FK_EXTERNO_USUARIOTIPOS] FOREIGN KEY([ID_USUARIOTIPO])
REFERENCES [dbo].[USUARIOTIPOS] ([ID_USUARIOTIPO])
GO
ALTER TABLE [dbo].[EXTERNO] CHECK CONSTRAINT [FK_EXTERNO_USUARIOTIPOS]
GO
ALTER TABLE [dbo].[IMPRESIONES]  WITH NOCHECK ADD  CONSTRAINT [FK_IMPRESIONES_SERVICIOS] FOREIGN KEY([ID_SERVICIO])
REFERENCES [dbo].[SERVICIOS] ([ID_SERVICIO])
GO
ALTER TABLE [dbo].[IMPRESIONES] CHECK CONSTRAINT [FK_IMPRESIONES_SERVICIOS]
GO
ALTER TABLE [dbo].[IMPRESIONES]  WITH NOCHECK ADD  CONSTRAINT [FK_IMPRESIONES_TRANSACCIONES] FOREIGN KEY([ID_TRANS])
REFERENCES [dbo].[TRANSACCIONES] ([ID_TRANS])
GO
ALTER TABLE [dbo].[IMPRESIONES] CHECK CONSTRAINT [FK_IMPRESIONES_TRANSACCIONES]
GO
ALTER TABLE [dbo].[INTERNO]  WITH NOCHECK ADD  CONSTRAINT [FK_INTERNO_DEPARTAMENTOS] FOREIGN KEY([ID_DEPARTAMENTO])
REFERENCES [dbo].[DEPARTAMENTOS] ([ID_DEPARTAMENTO])
GO
ALTER TABLE [dbo].[INTERNO] CHECK CONSTRAINT [FK_INTERNO_DEPARTAMENTOS]
GO
ALTER TABLE [dbo].[INTERNO]  WITH NOCHECK ADD  CONSTRAINT [FK_INTERNO_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[INTERNO] CHECK CONSTRAINT [FK_INTERNO_USUARIOS]
GO
ALTER TABLE [dbo].[INTERNO]  WITH NOCHECK ADD  CONSTRAINT [FK_INTERNO_USUARIOTIPOS] FOREIGN KEY([ID_USUARIOTIPO])
REFERENCES [dbo].[USUARIOTIPOS] ([ID_USUARIOTIPO])
GO
ALTER TABLE [dbo].[INTERNO] CHECK CONSTRAINT [FK_INTERNO_USUARIOTIPOS]
GO
ALTER TABLE [dbo].[LABORATORIOS]  WITH NOCHECK ADD  CONSTRAINT [FK_LABORATORIOS_USUARIOSSISTEMA] FOREIGN KEY([ID_USUARIOSISTEMA])
REFERENCES [dbo].[USUARIOSSISTEMA] ([ID_USUARIOSISTEMA])
GO
ALTER TABLE [dbo].[LABORATORIOS] CHECK CONSTRAINT [FK_LABORATORIOS_USUARIOSSISTEMA]
GO
ALTER TABLE [dbo].[MAQUINAS]  WITH CHECK ADD  CONSTRAINT [FK_MAQUINAS_LABORATORIOS] FOREIGN KEY([ID_LABORATORIO])
REFERENCES [dbo].[LABORATORIOS] ([ID_LABORATORIO])
GO
ALTER TABLE [dbo].[MAQUINAS] CHECK CONSTRAINT [FK_MAQUINAS_LABORATORIOS]
GO
ALTER TABLE [dbo].[MAQUINAS]  WITH NOCHECK ADD  CONSTRAINT [FK_MAQUINAS_USUARIOSSISTEMA] FOREIGN KEY([ID_USUARIOSISTEMA])
REFERENCES [dbo].[USUARIOSSISTEMA] ([ID_USUARIOSISTEMA])
GO
ALTER TABLE [dbo].[MAQUINAS] CHECK CONSTRAINT [FK_MAQUINAS_USUARIOSSISTEMA]
GO
ALTER TABLE [dbo].[RECIBOS]  WITH NOCHECK ADD  CONSTRAINT [FK_RECIBOS_LABORATORIOS] FOREIGN KEY([ID_LABORATORIO])
REFERENCES [dbo].[LABORATORIOS] ([ID_LABORATORIO])
GO
ALTER TABLE [dbo].[RECIBOS] CHECK CONSTRAINT [FK_RECIBOS_LABORATORIOS]
GO
ALTER TABLE [dbo].[RECIBOS]  WITH NOCHECK ADD  CONSTRAINT [FK_RECIBOS_SERVICIOS] FOREIGN KEY([SERVICIO])
REFERENCES [dbo].[SERVICIOS] ([ID_SERVICIO])
GO
ALTER TABLE [dbo].[RECIBOS] CHECK CONSTRAINT [FK_RECIBOS_SERVICIOS]
GO
ALTER TABLE [dbo].[RECIBOS]  WITH NOCHECK ADD  CONSTRAINT [FK_RECIBOS_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[RECIBOS] CHECK CONSTRAINT [FK_RECIBOS_USUARIOS]
GO
ALTER TABLE [dbo].[SERVICIOS]  WITH NOCHECK ADD  CONSTRAINT [FK_SERVICIOS_USUARIOSSISTEMA] FOREIGN KEY([ID_USUARIOSISTEMA])
REFERENCES [dbo].[USUARIOSSISTEMA] ([ID_USUARIOSISTEMA])
GO
ALTER TABLE [dbo].[SERVICIOS] CHECK CONSTRAINT [FK_SERVICIOS_USUARIOSSISTEMA]
GO
ALTER TABLE [dbo].[TRANS_RECIBO]  WITH NOCHECK ADD  CONSTRAINT [FK_TRANS_RECIBO_RECIBOS] FOREIGN KEY([ID_RECIBO])
REFERENCES [dbo].[RECIBOS] ([ID_RECIBO])
GO
ALTER TABLE [dbo].[TRANS_RECIBO] CHECK CONSTRAINT [FK_TRANS_RECIBO_RECIBOS]
GO
ALTER TABLE [dbo].[TRANS_RECIBO]  WITH NOCHECK ADD  CONSTRAINT [FK_TRANS_RECIBO_TRANSACCIONES] FOREIGN KEY([ID_TRANS])
REFERENCES [dbo].[TRANSACCIONES] ([ID_TRANS])
GO
ALTER TABLE [dbo].[TRANS_RECIBO] CHECK CONSTRAINT [FK_TRANS_RECIBO_TRANSACCIONES]
GO
ALTER TABLE [dbo].[TRANSACCIONES]  WITH NOCHECK ADD  CONSTRAINT [FK_TRANSACCIONES_MAQUINAS] FOREIGN KEY([ID_MAQUINA])
REFERENCES [dbo].[MAQUINAS] ([ID_MAQUINA])
GO
ALTER TABLE [dbo].[TRANSACCIONES] CHECK CONSTRAINT [FK_TRANSACCIONES_MAQUINAS]
GO
ALTER TABLE [dbo].[TRANSACCIONES]  WITH NOCHECK ADD  CONSTRAINT [FK_TRANSACCIONES_MAQUINAS1] FOREIGN KEY([ID_MAQUINA])
REFERENCES [dbo].[MAQUINAS] ([ID_MAQUINA])
GO
ALTER TABLE [dbo].[TRANSACCIONES] CHECK CONSTRAINT [FK_TRANSACCIONES_MAQUINAS1]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH NOCHECK ADD  CONSTRAINT [FK_USUARIOS_DEPENDENCIAS] FOREIGN KEY([ID_DEPENDENCIA])
REFERENCES [dbo].[DEPENDENCIAS] ([ID_DEPENDENCIA])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_DEPENDENCIAS]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH NOCHECK ADD  CONSTRAINT [FK_USUARIOS_USUARIOCLASES] FOREIGN KEY([ID_USUARIOCLASE])
REFERENCES [dbo].[USUARIOCLASES] ([ID_USUARIOCLASE])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_USUARIOCLASES]
GO
ALTER TABLE [dbo].[USUARIOSSISTEMA]  WITH NOCHECK ADD  CONSTRAINT [FK_USUARIOSSISTEMA_LABORATORIOS] FOREIGN KEY([ID_LABORATORIO])
REFERENCES [dbo].[LABORATORIOS] ([ID_LABORATORIO])
GO
ALTER TABLE [dbo].[USUARIOSSISTEMA] CHECK CONSTRAINT [FK_USUARIOSSISTEMA_LABORATORIOS]
GO
ALTER TABLE [dbo].[USUARIOSSISTEMA]  WITH NOCHECK ADD  CONSTRAINT [FK_USUARIOSSISTEMA_USUARIOSSISTEMA] FOREIGN KEY([ID_USUARIOCAPTURA])
REFERENCES [dbo].[USUARIOSSISTEMA] ([ID_USUARIOSISTEMA])
GO
ALTER TABLE [dbo].[USUARIOSSISTEMA] CHECK CONSTRAINT [FK_USUARIOSSISTEMA_USUARIOSSISTEMA]
GO
ALTER TABLE [dbo].[USUARIOTIPOS]  WITH NOCHECK ADD  CONSTRAINT [FK_USUARIOTIPOS_USUARIOSSISTEMA] FOREIGN KEY([ID_USUARIOSISTEMA])
REFERENCES [dbo].[USUARIOSSISTEMA] ([ID_USUARIOSISTEMA])
GO
ALTER TABLE [dbo].[USUARIOTIPOS] CHECK CONSTRAINT [FK_USUARIOTIPOS_USUARIOSSISTEMA]
GO
ALTER TABLE [dbo].[UTILIZA]  WITH NOCHECK ADD  CONSTRAINT [FK_UTILIZA_MAQUINAS] FOREIGN KEY([ID_MAQUINA])
REFERENCES [dbo].[MAQUINAS] ([ID_MAQUINA])
GO
ALTER TABLE [dbo].[UTILIZA] CHECK CONSTRAINT [FK_UTILIZA_MAQUINAS]
GO
ALTER TABLE [dbo].[UTILIZA]  WITH NOCHECK ADD  CONSTRAINT [FK_UTILIZA_TRANSACCIONES] FOREIGN KEY([ID_TRANS])
REFERENCES [dbo].[TRANSACCIONES] ([ID_TRANS])
GO
ALTER TABLE [dbo].[UTILIZA] CHECK CONSTRAINT [FK_UTILIZA_TRANSACCIONES]
GO
ALTER TABLE [dbo].[UTILIZA]  WITH NOCHECK ADD  CONSTRAINT [FK_UTILIZA_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[UTILIZA] CHECK CONSTRAINT [FK_UTILIZA_USUARIOS]
GO
ALTER TABLE [dbo].[RECIBOS]  WITH NOCHECK ADD  CONSTRAINT [ck_numero_recibo] CHECK  (([NUMERO_RECIBO]>=(1) AND [NUMERO_RECIBO]<=(999999)))
GO
ALTER TABLE [dbo].[RECIBOS] CHECK CONSTRAINT [ck_numero_recibo]
GO
ALTER TABLE [dbo].[RECIBOS]  WITH NOCHECK ADD  CONSTRAINT [ck_serie_recibo] CHECK  (([SERIE_RECIBO] like '[A-Z]'))
GO
ALTER TABLE [dbo].[RECIBOS] CHECK CONSTRAINT [ck_serie_recibo]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteEstudiante]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_DeleteEstudiante] (@Id_Usuario int)
AS 
      Update Usuarios SET [Activo] = 0 WHERE Id_Usuario = @Id_Usuario

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteExterno]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_DeleteExterno] (@Id_Usuario int)
AS 
      Update Usuarios SET [Activo] = 0 WHERE Id_Usuario = @Id_Usuario

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteInterno]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_DeleteInterno] (@Id_Usuario int)
 AS
     Update Usuarios SET [Activo] = 0 WHERE Id_Usuario = @Id_Usuario

GO
/****** Object:  StoredProcedure [dbo].[sp_DescargarRecibos]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_DescargarRecibos] (           @IdTran int,
                                                 @IdUsuario int,
     					         @IdServicio int,
 					         @Total int	)

 AS

DECLARE @Saldo int
DECLARE @IdRecibo int

DECLARE RECIBOS_CURSOR CURSOR FOR
SELECT SALDO_RECIBO, ID_RECIBO
FROM RECIBOS
WHERE ID_USUARIO = @IdUsuario AND SERVICIO = @IdServicio AND SALDO_RECIBO > 0
ORDER BY ID_RECIBO

OPEN RECIBOS_CURSOR

FETCH NEXT FROM RECIBOS_CURSOR INTO @Saldo,@IdRecibo
WHILE @@FETCH_STATUS = 0 AND @Total > 0
BEGIN
     If (@Total > @Saldo) OR (@Total = @Saldo) 
     BEGIN
        SELECT @Total = @Total - @Saldo
        UPDATE RECIBOS SET [SALDO_RECIBO] = 0 WHERE ID_RECIBO = @IdRecibo 
        INSERT INTO TRANS_RECIBO (ID_TRANS,ID_RECIBO,CANTIDAD) VALUES (@IdTran,@IdRecibo,@Saldo) 
     END 
     ELSE
     BEGIN
        SELECT @Saldo = @Saldo - @Total
        UPDATE RECIBOS SET [SALDO_RECIBO] = @Saldo WHERE ID_RECIBO = @IdRecibo 
        INSERT INTO TRANS_RECIBO (ID_TRANS,ID_RECIBO,CANTIDAD) VALUES (@IdTran,@IdRecibo,@Total)         
        SELECT @Total = 0 
     END   
     
     FETCH NEXT FROM RECIBOS_CURSOR INTO @Saldo,@IdRecibo
END

CLOSE RECIBOS_CURSOR
DEALLOCATE RECIBOS_CURSOR

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCarreras]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: SQLQuery3.sql|7|0|C:\Users\Samuel\AppData\Local\Temp\~vs3D71.sql
CREATE PROCEDURE [dbo].[sp_InsertCarreras]
(
             @Id_Carrera int output,
             @Descripcion char(100),
             @Abreviatura char(10)/*,
             @Activo bit,
             @Id_UsuarioSistema int*/
)
AS

            INSERT INTO CARRERAS
           (
                 [DESCRIPCION], 
                 [ABREVIATURA],
                 /*[ACTIVO],*/
                 [ID_USUARIOSISTEMA]
            )
            VALUES
            (
                 @Descripcion,
                 @Abreviatura,
                 /*@Activo,
                 @Id_UsuarioSistema*/
				 1
            )
            SELECT @Id_Carrera = @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDepartamentos]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertDepartamentos]
(
         @Id_Departamento int output,
         @Descripcion char(50),
         @Activo bit,
         @Id_UsuarioSistema int  
)
AS
  INSERT INTO DEPARTAMENTOS
  (
         [DESCRIPCION],  
         [ACTIVO],
         [ID_USUARIOSISTEMA] 
  )
  VALUES
  (
          @Descripcion, 
          @Activo,
          @Id_UsuarioSistema
  )
  SELECT @Id_Departamento = @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDependencias]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertDependencias]
(
           @Id_Dependencia int output,
           @Descripcion char(100),
           @Activo bit,
           @Id_UsuarioSistema int
)
AS
           INSERT INTO DEPENDENCIAS
          (
                [DESCRIPCION],
                [ACTIVO],
                [ID_USUARIOSISTEMA]
           )
           VALUES
           (    
                 @Descripcion,
                 @Activo,
                 @Id_UsuarioSistema
            )
            SELECT @Id_Dependencia = @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertEntradaMaq]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_InsertEntradaMaq] ( @Id_EntradaMaq int output,
                                    @Id_Trans int,
                                    @Hora_Entrada datetime
                            
                                 
 )
AS
      INSERT INTO ENTRADA_MAQ
      (
           [ID_TRANS],
           [HORA_ENTRADA]
           
      )           
      VALUES
      (
           @Id_Trans,
           @Hora_Entrada
       
      )
      SELECT @Id_EntradaMaq = @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertEstudiante]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertEstudiante](@Id_Estudiante int output,
 				     @Id_Usuario int,
				     @Num_Cuenta varchar(20),
				     @Id_Carrera int)
AS
    INSERT INTO Estudiante
    (
	[ID_USUARIO],
	[NUM_CUENTA],
	[ID_CARRERA]
    )
    VALUES
    (
        @Id_Usuario,
        @Num_Cuenta,
        @Id_Carrera  
    )
    SELECT @Id_Estudiante = @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertExterno]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_InsertExterno]   (@Id_Externo int output,
 				     @Id_Usuario int,
                                                          @Num_Credencial varchar(20),
				     @Id_UsuarioTipo int,
				     @Id_Dependencia int)
AS
    INSERT INTO Externo
    (
	[ID_USUARIO],
             [NUM_CREDENCIAL], 
	[ID_USUARIOTIPO],
	[ID_DEPENDENCIA]
    )
    VALUES
    (
        @Id_Usuario,
        @Num_Credencial,
        @Id_UsuarioTipo,
        @Id_Dependencia  
    )
    SELECT @Id_Externo = @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertImpresiones]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertImpresiones] ( @Id_Impresion int output,
                                    @Id_Trans int,
                                    @Cant_Imp int,
                                    @Id_Servicio int
                                                                  
 )
AS
      INSERT INTO IMPRESIONES
      (
           [ID_TRANS],
           [CANT_IMP],
           [ID_SERVICIO]
      )           
      VALUES
      (
           @Id_Trans,
           @Cant_Imp,
           @Id_Servicio
      )
      SELECT @Id_Impresion = @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertInterno]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertInterno] (@Id_Interno int output,
                                                                  @Id_Usuario int,
                                                                  @Num_Trabajador varchar(20),
                                                                  @Rfc char(10),
                                                                  @Id_UsuarioTipo int,
                                                                  @Id_Departamento int)
AS 
   INSERT INTO INTERNO
   (
         [ID_USUARIO], 
         [NUM_TRABAJADOR], 
         [RFC], 
         [ID_USUARIOTIPO], 
         [ID_DEPARTAMENTO]
   )
   VALUES
   (
         @Id_Usuario,
         @Num_Trabajador,
         @Rfc,
         @Id_UsuarioTipo,
         @Id_Departamento
   )
 
   SELECT @Id_Interno = @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertLaboratorios]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_InsertLaboratorios]
(                   @Id_Laboratorio int output,
                    @Nombre varchar(100),
                    @Abreviatura varchar(10),
                    @Activo bit,
                    @Id_UsuarioSistema int 
)
AS
  
   INSERT INTO LABORATORIOS
   (
         [NOMBRE],
         [ABREVIATURA],
         [ACTIVO],
         [ID_USUARIOSISTEMA]
   )
   VALUES
   (    @Nombre,
        @Abreviatura,
        @Activo,
        @Id_UsuarioSistema
   )
   SELECT @Id_Laboratorio = @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertMaquinas]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertMaquinas] ( 
	@Id_Maquina int output,
    @Numero_Maq int,
    /*@Id_Laboratorio int,*/
    @Informacion_Maq varchar(100),
  	@Bandera_Maq int,
    /*@Ip_Maq varchar(15),*/
    @Mostrar_Maq bit
    /*@Id_UsuarioSistema int */
 )
AS
      INSERT INTO MAQUINAS
      (
           [NUMERO_MAQ], 
           [ID_LABORATORIO],
           [INFORMACION_MAQ],
           [BANDERA_MAQ],
           /*[IP_MAQ],*/
           [MOSTRAR_MAQ]
           /*[ID_USUARIOSISTEMA]*/
        
      )           
      VALUES
      (
            @Numero_Maq,
            2,
            @Informacion_Maq,
            @Bandera_Maq,
            /*@Ip_Maq,*/
            @Mostrar_Maq
            /*@Id_UsuarioSistema*/
      )
      SELECT @Id_Maquina = @@IDENTITY
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertRecibos]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertRecibos] ( @Id_Recibo int output,
                                    @Serie_Recibo char(1),
                                    @Numero_Recibo int,
                                    @Fecha_Recibo datetime,
                                    @Importe_Recibo money,
                                    @Cantidad_Recibo int,
                                    @Saldo_Recibo int,
                                    @Servicio int,
                                    @Id_Usuario int,
                                    @Realizadas int,
                                    @Id_Laboratorio int
 )
AS
      INSERT INTO RECIBOS
      (
           [SERIE_RECIBO],
           [NUMERO_RECIBO],
           [FECHA_RECIBO],
           [IMPORTE_RECIBO],
           [CANTIDAD_RECIBO],
           [SALDO_RECIBO],
           [SERVICIO],
           [ID_USUARIO],
           [TOTAL_RECIBO],
           [REALIZADAS],
           [ID_LABORATORIO]
      )           
      VALUES
      (
           @Serie_Recibo,
           @Numero_Recibo,
           @Fecha_Recibo,
           @Importe_Recibo,
           @Cantidad_Recibo,
           @Saldo_Recibo,
           @Servicio,
           @Id_Usuario,
           @Importe_Recibo,
           @Realizadas,
           @Id_Laboratorio
      )
      SELECT @Id_Recibo = @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertSalidaMaq]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_InsertSalidaMaq] ( @Id_SalidaMaq int output,
                                    @Id_Trans int,
                                    @Hora_Salida datetime,
                                    @Cant_Horas_Maq varchar(20)
                            
                                 
 )
AS
      INSERT INTO Salida_MAQ
      (
           [ID_TRANS],
           [HORA_SALIDA],
           [CANT_HORAS_MAQ]
      )           
      VALUES
      (
           @Id_Trans,
           @Hora_Salida,
           @Cant_Horas_Maq
       
      )
      SELECT @Id_SalidaMaq = @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertServicios]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertServicios] ( @Id_Servicio int output,
                                                                      @Concepto_Servicio char(20),
                                                                      @Costo_Serv money,
                                                                      @Activo bit,
                                                                      @Id_UsuarioSistema int
                                                                      
 )
AS
      INSERT INTO SERVICIOS
      (
           [CONCEPTO_SERVICIO], 
           [COSTO_SERV],
           [ACTIVO],
           [ID_USUARIOSISTEMA]

      )           
      VALUES
      (
            @Concepto_Servicio,
            @Costo_Serv,
            @Activo,
            @Id_UsuarioSistema

      )
      SELECT @Id_Servicio = @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertTransacciones]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertTransacciones] ( @Id_Trans int output,
                                    @Id_Usuario int,
                                    /*@Tipo_Servicio int,*/
                                    @Id_Maquina int
                                  
                                 
 )
AS
      INSERT INTO TRANSACCIONES
      (
           [ID_USUARIO],
           /*[TIPO_SERVICIO],*/
           [ID_MAQUINA]
      
      )           
      VALUES
      (
           @Id_Usuario,
           /*@Tipo_Servicio,*/
           @Id_Maquina
       

      )
      SELECT @Id_Trans = @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUsuarios]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUsuarios] ( @Id_Usuario int output,
	@Nombre_Usuario varchar(100),
	@Fecha_Reg_Usuario datetime,
	/*@Id_Dependencia int,
	@Id_UsuarioClase int,
	@Activo bit*/
	@Credencial_Usuario varchar(20),
	@Carrera_Usuario int
 )
AS
      INSERT INTO USUARIOS
      (
           [Nombre_Usuario],
           [Fecha_Reg_Usuario],
           [Id_Dependencia],
           [Id_UsuarioClase],
           /*[Activo]*/
		   [NUM_CREDENCIAL],
		   [ID_CARRERA]
      )           
      VALUES
      (
           @Nombre_Usuario,
           @Fecha_Reg_Usuario,
           1,
		   1,
           /*@Activo*/
		   @Credencial_Usuario,
		   @Carrera_Usuario
      )
      SELECT @Id_Usuario = @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUsuariosSistema]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUsuariosSistema] ( @Id_UsuarioSistema int output,
                                                                      @Nombre_Completo varchar(100),
                                                                      @Puesto varchar(30),
                                                                      @Activo bit,
                                                                      @Id_Laboratorio int,
                                                                      @UserName varchar(15),
  					   @Id_UsuarioCaptura int  		
 )
AS
      INSERT INTO USUARIOSSISTEMA
      (
           [NOMBRE_COMPLETO],
           [PUESTO],
           [ACTIVO],
           [ID_LABORATORIO],
           [USERNAME],
           [ID_USUARIOCAPTURA] 
      )           
      VALUES
      (
            UPPER(@Nombre_Completo),
            UPPER(@Puesto),
            @Activo,
            @Id_Laboratorio,
            @UserName,
            @Id_UsuarioCaptura 
      )
      SELECT @Id_UsuarioSistema = @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUsuarioTipos]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUsuarioTipos]
(                   @Id_UsuarioTipo int output,
                    @Descripcion char(20),
                    @Activo bit,
                    @Id_UsuarioSistema int 
)
AS
  
   INSERT INTO USUARIOTIPOS
   (
         [DESCRIPCION],
         [ACTIVO],
         [ID_USUARIOSISTEMA]
   )
   VALUES
   (    @Descripcion,
        @Activo,
        @Id_UsuarioSistema
   )
   SELECT @Id_UsuarioTipo = @@IDENTITY

GO
/****** Object:  StoredProcedure [dbo].[sp_RepControlIngresos]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_RepControlIngresos]
(
        @ID_SERVICIO int,
        @ID_LABORATORIO int,
        @MES int,
        @ANIO int   
        /*EXECUTE sp_RepControlIngresos 1,1,2,2006*/
)
AS
        DELETE FROM REPORTE
  
        INSERT INTO REPORTE 
        (  [NOMBRE], 
           [CLAVE],
           [ABREV],
           [FECHA],
           [FOLIO],
           [IMPORTE_RECIBO],
           [SALDO], 
           [ESTATUS],
           [MES_NOMBRE],
           [SERVICIO]
        )
	(
           SELECT VWU.NOMBRE_USUARIO,
	       VWU.CLAVE,
	       VWU.ABREV,
	       FECHA = CONVERT(CHAR(10),FECHA_RECIBO,103),
	       FOLIO = RTRIM(SERIE_RECIBO) +  RTRIM(CAST(NUMERO_RECIBO AS CHAR(50))),
	       IMPORTE_RECIBO,
	       SALDO = (SALDO_RECIBO * IMPORTE_RECIBO)/CANTIDAD_RECIBO,
	       ESTATUS = CASE WHEN MONTH(FECHA_RECIBO) = MONTH(FECHA_CAPTURA_RECIBO) AND 
	                           YEAR(FECHA_RECIBO) = YEAR(FECHA_CAPTURA_RECIBO) THEN 'NORMALES' ELSE 'DESFASADOS' END,
                    MES_NOMBRE = UPPER(DATENAME(MONTH, FECHA_CAPTURA_RECIBO)) + ' ' + RTRIM(CAST(@ANIO AS CHAR(5))),
                    CONCEPTO = UPPER(S.CONCEPTO_SERVICIO)
	   FROM RECIBOS R INNER JOIN VW_USUARIOS VWU ON R.ID_USUARIO = VWU.ID_USUARIO
	               INNER JOIN  USUARIOS U ON U.ID_USUARIO = VWU.ID_USUARIO 
                            INNER JOIN SERVICIOS S ON S.ID_SERVICIO = R.SERVICIO
	   WHERE R.SERVICIO = @ID_SERVICIO AND R.ID_LABORATORIO = @ID_LABORATORIO AND MONTH(FECHA_CAPTURA_RECIBO) = @MES AND YEAR(FECHA_CAPTURA_RECIBO) = @ANIO
        )

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCarreras]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCarreras]
(
             @Id_Carrera int output,
             @Descripcion char(100),
             @Abreviatura char(10)/*, 
             @Activo bit*/
)
AS

            UPDATE CARRERAS
            SET  [DESCRIPCION]=@Descripcion, 
                     [ABREVIATURA]=@Abreviatura/*,
                     [ACTIVO]=@Activo*/
            WHERE ID_CARRERA = @Id_Carrera

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDepartamentos]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateDepartamentos]
(
         @Id_Departamento int,
         @Descripcion char(50),
         @Activo bit

)
AS
  UPDATE DEPARTAMENTOS
  SET DESCRIPCION = @Descripcion,
          ACTIVO = @Activo
  WHERE ID_DEPARTAMENTO = @Id_Departamento

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDependencias]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_UpdateDependencias]
(
           @Id_Dependencia int,
           @Descripcion char(100),
           @Activo bit
)
AS
           UPDATE DEPENDENCIAS
           SET  [DESCRIPCION]=@Descripcion,
                [ACTIVO]=@Activo
           WHERE ID_DEPENDENCIA = @Id_Dependencia

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateEstudiante]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_UpdateEstudiante](@Id_Estudiante int,
 				     @Id_Usuario int,
				     @Num_Cuenta varchar(20),
				     @Id_Carrera int)
AS
    UPDATE Estudiante
    SET [ID_USUARIO] = @Id_Usuario,
	[NUM_CUENTA] = @Num_Cuenta,
	[ID_CARRERA] = @Id_Carrera  
    WHERE Id_Estudiante = @Id_Estudiante

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateExterno]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_UpdateExterno]   (@Id_Externo int,
 				     @Id_Usuario int,
                                                          @Num_Credencial varchar(20),
				     @Id_UsuarioTipo int,
				     @Id_Dependencia int)
AS
    UPDATE Externo
    SET [ID_USUARIO] = @Id_Usuario,
             [NUM_CREDENCIAL] = @Num_Credencial,
	[ID_USUARIOTIPO] = @Id_UsuarioTipo,
	[ID_DEPENDENCIA] = @Id_Dependencia  
    WHERE Id_Externo = @Id_Externo

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateInterno]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_UpdateInterno] (@Id_Interno int,
                                                                     @Id_Usuario int,
                                                                     @Num_Trabajador varchar(20),
                                                                     @Rfc char(10),
                                                                     @Id_UsuarioTipo int,
                                                                    @Id_Departamento int)
AS
   UPDATE INTERNO
   SET [ID_USUARIO]=@ID_USUARIO, [NUM_TRABAJADOR]=@NUM_TRABAJADOR, [RFC]=@RFC, [ID_USUARIOTIPO]=@ID_USUARIOTIPO, [ID_DEPARTAMENTO]=@ID_DEPARTAMENTO
   WHERE Id_Interno = @Id_Interno

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateLaboratorios]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateLaboratorios]
(
                    @Id_Laboratorio int,
                    @Nombre varchar(100),
                    @Abreviatura varchar(10),
                    @Activo bit
)
AS
  
   UPDATE LABORATORIOS SET
         [NOMBRE] = @Nombre, 
         [ABREVIATURA] = @Abreviatura,
         [ACTIVO] = @Activo
   WHERE ID_LABORATORIO = @Id_Laboratorio

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMaquinas]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_UpdateMaquinas] ( @Id_Maquina int,
                                            @Numero_Maq int,
                                            /*@Id_Laboratorio int,*/
                                            @Informacion_Maq varchar(100),
  											@Bandera_Maq int,
                                            /*@Ip_Maq varchar(15),*/
                                            @Mostrar_Maq bit
 )
AS
      UPDATE MAQUINAS SET
           [NUMERO_MAQ] = @Numero_Maq,
           /*[ID_LABORATORIO] = @Id_Laboratorio,*/
           [INFORMACION_MAQ] = @Informacion_Maq,
           [BANDERA_MAQ] = @Bandera_Maq,
           /*[IP_MAQ] = @Ip_Maq,*/
           [MOSTRAR_MAQ]=@Mostrar_Maq 
      WHERE id_Maquina =  @Id_Maquina

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRecibos]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_UpdateRecibos] ( @Id_Recibo int,
                                    @Serie_Recibo char(1),
                                    @Numero_Recibo int,
                                    @Fecha_Recibo datetime,
                                    @Importe_Recibo money,
                                    @Cantidad_Recibo int,
                                    @Saldo_Recibo int,
                                    @Servicio int,
                                    @Id_Usuario int,
                                    @Realizadas int
 )
AS
     UPDATE RECIBOS
     SET 
           [SERIE_RECIBO] =  @Serie_Recibo,
           [NUMERO_RECIBO] = @Numero_Recibo,
           [FECHA_RECIBO] = @Fecha_Recibo,
           [IMPORTE_RECIBO] = @Importe_Recibo,
           [CANTIDAD_RECIBO]= @Cantidad_Recibo,
           [SALDO_RECIBO] =  @Saldo_Recibo,
           [SERVICIO] =  @Servicio,
           [ID_USUARIO] = @Id_Usuario,
           [REALIZADAS] =  @Realizadas
     WHERE ID_RECIBO = @Id_Recibo

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateServicios]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE  PROCEDURE [dbo].[sp_UpdateServicios] ( @Id_Servicio int,
                                                                      @Concepto_Servicio char(20),
                                                                      @Costo_Serv money,
					   @Activo bit	
                                                                      
 )
AS
      UPDATE SERVICIOS SET
           [CONCEPTO_SERVICIO] =  @Concepto_Servicio,
           [COSTO_SERV] =  @Costo_Serv,
           [ACTIVO] = @Activo
       WHERE id_Servicio = @Id_Servicio

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUsuarios]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateUsuarios] ( @Id_Usuario int,
                                                                         @Nombre_Usuario varchar(100),
                                                                         /*@Id_Dependencia int,
                                                                         @Activo bit */
																		 @Credencial_Usuario varchar(20),
																		 @Carrera_Usuario int
 )
AS
      UPDATE USUARIOS
     SET
           [Nombre_Usuario] =  @Nombre_Usuario,
           [Id_Dependencia] = 1,
           [Activo] = 1,
		   [NUM_CREDENCIAL] = @Credencial_Usuario,
		   [ID_CARRERA] = @Carrera_Usuario
      WHERE Id_Usuario = @Id_Usuario

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUsuariosSistema]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_UpdateUsuariosSistema] ( @Id_UsuarioSistema int,
                                                                      @Nombre_Completo varchar(100),
                                                                      @Puesto varchar(30),
                                                                      @Activo bit,
                                                                      @Id_Laboratorio int,
                                                                      @UserName varchar(15)
  							             	
 )
AS
      UPDATE USUARIOSSISTEMA SET
           [NOMBRE_COMPLETO]=UPPER(@Nombre_Completo),
           [PUESTO]=UPPER(@Puesto),
           [ACTIVO] =@Activo,
           [ID_LABORATORIO]= @Id_Laboratorio,
           [USERNAME]=@UserName
         
     WHERE Id_UsuarioSistema = @Id_UsuarioSistema

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUsuarioTipos]    Script Date: 30/11/2017 12:00:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateUsuarioTipos]
(
                    @Id_UsuarioTipo int,
                    @Descripcion varchar(100),
                    @Activo bit
)
AS
  
   UPDATE USUARIOTIPOS SET
         [DESCRIPCION] = @Descripcion, 
         [ACTIVO] = @Activo
   WHERE ID_USUARIOTIPO = @Id_UsuarioTipo

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-Libre, 1-Ocupada, 2-No disponible' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MAQUINAS', @level2type=N'COLUMN',@level2name=N'BANDERA_MAQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-IMP,2-ENT-MAQ,3-SAL-MAQ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TRANSACCIONES', @level2type=N'COLUMN',@level2name=N'TIPO_SERVICIO'
GO
USE [master]
GO
