<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
		<add key="cnn" value="Data Source=DESKTOP-SAMUEL\SQLEXPRESS;Initial Catalog=LabComp;Integrated Security=True"/>
		<!--<add key="rutaReporte" value="C:\Users\Samuel\Documents\Visual Studio 2010\WebSites\LABCOMP\reportes\RecibosReporte.rpt"/>-->
	</appSettings>
    
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
