.log {
    width:180px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
}
    .caja {
        width:180px;
    }

    #btnAccept {
        width: 80px;
        height: 30px;
        margin-top: 15px;

        font-weight:bold;
        float:right;
    }

    #lblError {
        color: red;
        clear:both;
    }