#form1 {
    width:250px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}

    .lblMant {
        font-size:17px;
        font-family:Arial;
    }

    #btnGoBack {
        float:right;
    }

    #btnGuardar {
        float:left;
    }

    #form1 > input, #txtInfo {
        width:250px;
        margin-top:2px;
        margin-bottom:10px;
    } 

    #chkMostrar {
        margin-left:60px;
    }